################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj
/bin/Debug/net9.0
*.user
/.vs
